<!-- Partial: header.ejs for userPage.ejs-->
<header>
    <link rel="stylesheet" href="/css/styleHeader.css">
    <script src="/js/script.js"></script>
    <div class="header">
        <nav>
            <ul>
                <% if (user) { %>
                    <li class="hello"><em>Hello <%= user.userName %></em></li>
                <% } else { %>
                    <li><em>Welcome, Guest!</em></li>
                <% } %>
                <li class="logout-link"><a href="/logout">Log out</a></li>
            </ul>
            <div class="custom-select">
                <div class="select-box">Select an option</div>
                <div class="options-container">
                    <div class="option" data-value="option1">
                        Your profile
                    </div>
                    <div class="option" data-value="option2">
                        aha
                    </div>
                    <div class="option" data-value="option3">
                        aaiaiai
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
