body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #003366;
    color: #ffffff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
}

nav ul li {
    margin-right: 20px;
}

.hello{
    font-size: 20px;
}

nav ul li:last-child {
    margin-left: auto;
    padding-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
}

.select-box {
    background-color: #003366;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
}

.options-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    border: 5px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}

.option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    color: #003366;
}

.option img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.option:hover {
    background-color: #003366;
    color: white;
}

.active {
    display: block;
}
